window {
    background-color: #030417;
    color: #4B4999;
}

#input {
    background-color: #1255A5;
    color: #4B4999;
}

#input:focus {
    background-color: #1697E1;
}

#list {
    background-color: #1255A5;
    color: #4B4999;
}

#list:selected {
    background-color: #1697E1;
    color: #030417;
}
