window {
    background-color: #150f0a;
    color: #CC7669;
}

#input {
    background-color: #B36C67;
    color: #CC7669;
}

#input:focus {
    background-color: #E18972;
}

#list {
    background-color: #B36C67;
    color: #CC7669;
}

#list:selected {
    background-color: #E18972;
    color: #150f0a;
}
