window {
    background-color: #0D060D;
    color: #AB718A;
}

#input {
    background-color: #3D6E8D;
    color: #AB718A;
}

#input:focus {
    background-color: #7D8C8C;
}

#list {
    background-color: #3D6E8D;
    color: #AB718A;
}

#list:selected {
    background-color: #7D8C8C;
    color: #0D060D;
}
